{%- extends "@saa_victoria_subtheme/page.html.twig" -%}

{%- block block_main -%}
  {{ attach_library('saa_victoria_subtheme/search-page') }}
  <div id="search-page-app">
    Loading...
  </div>
{%- endblock -%}
