{%- extends "@saa_victoria_subtheme/page.html.twig" -%}

{%- block block_main -%}
  {{ attach_library('saa_victoria_subtheme/hello-world') }}
  <div id="hello-world-app">
    Loading...
  </div>
{%- endblock -%}
