@charset "UTF-8";

.su-card-wrapper--vertical {
  .su-card {
    .su-card__contents {
      & > span {
        margin-bottom: 5px;
      }
      & > h2 {
        padding-top: 0;
      }

      div:not(.su-card__button) {
        // only target plain links, not button links
        a.su-link {
          @include modular-spacing('margin-top', 2);
        }
      }

    }

  }

}
