@charset "UTF-8";

// this is used for the sizing between modular typography 0 and -1
@mixin saa-modular-typography-small {
  font-size: 15px;
  @include grid-media-min('md') {
    font-size: 17px;
  }
}

// Footer Small Font Size - used for links
// this is used for the sizing between modular typography 0 and -1
@mixin saa-modular-typography-medium-small {
  font-size: 16px;
  @include grid-media-min('md') {
    font-size: 17px;
  }
}

@mixin saa-modular-typography-small-heading {
  font-size: 18px;
  @include grid-media-min(md) { // 992px
    font-size: 20px;
  }
}

