@charset "UTF-8";

@mixin saa-button--white-icons {
  &::after {
    background-color: $su-color-white;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $su-color-white;
    }
  }
}

@mixin saa-button--purple-icons {
  &::after {
    background-color: $saa-color-electric-purple;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $su-color-white;
    }
  }
}

@mixin saa-button--hover-and-focus {
  &:hover,
  &:focus {
    @include saa-button--hover;
  }

  &:focus {
    @include saa-button--focus;
  }
}

@mixin saa-button--hover {
  background: $saa-color-electric-purple-dark;
  color: $su-color-white;
  text-decoration: underline;
  cursor: pointer;
}

@mixin saa-button--focus {
  box-shadow: $box-shadow--focus;
}

// white or ghost buttons
@mixin saa-button--secondary {
  @include saa-button--hover-and-focus;
  @include saa-button--purple-icons;
  box-shadow: none;
  background: $su-color-white;
  color: $saa-color-electric-purple;
  border: 1px solid $saa-color-electric-purple;
  text-decoration: none;

  // most hover and focus is handled in mixin referenced above
  &:hover,
  &:focus {
    box-shadow: none;
  }
}
@mixin saa-button--big {
  @include button-big;
  @include saa-button--hover-and-focus;
  @include saa-button--white-icons;
  background: $saa-color-electric-purple;
  color: $su-color-white;

  &::after {
    background-color: $su-color-white;
  }
}

@mixin saa-button--secondary-on-red {
  @include saa-button--secondary;
  border: 1px solid $su-color-white;

  &:hover,
  &:focus {
    border: 1px solid $saa-color-electric-purple-dark;
  }
}

// purple buttons
@mixin saa-button--purple--only {
  @include saa-button--hover-and-focus;
  @include saa-button--white-icons;
  background: $saa-color-electric-purple;
  color: $su-color-white;
  padding: 10px 30px;
}

@mixin saa-button--purple {
  @include saa-button--purple--only;

  &.su-button--secondary {
    @include saa-button--secondary;
  }

  &.su-button--big {
    @include saa-button--big;
  }
}
