@charset "UTF-8";

@mixin cta-vivid-red {
  color: $saa-color-vivid-red;
  @apply no-underline;

  &:hover,
  &:focus {
    color: $su-color-cardinal-red;
    @apply cursor-pointer;

    &::after {
      background-color: $su-color-cardinal-red;
    }
  }

  &::after {
    background-color: $saa-color-vivid-red;
  }

  &.su-link--action,
  &.su-link--external,
  &.su-link--download,
  &.su-link--video,
  &.su-link--jump,
  &.su-link--top,
  &.su-link--internal {

    &::after {
      background-color: $saa-color-vivid-red;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: $su-color-cardinal-red;
      }
    }
  }

  &.su-link--video::after {
    width: 14px; // video icon is too wide, 13px cuts it off, temp fix
  }

  &.disabled {
    color: $su-color-cool-grey;
  }
}

@mixin cta-white-on-bright-red {
  .su-link,
  a:not(.su-button):not(.su-button--secondary):not(.su-button--big) {
    @apply text-white;
    text-decoration: underline;

    &:hover,
    &:focus {
      @apply underline;
      color: $saa-color-dandelion;
    }

    &::after {
      @apply bg-white;

      &:hover {
        @apply cursor-pointer;
        background-color: $saa-color-dandelion;
      }
    }

    &:hover::after,
    &:focus::after {
      background-color: $saa-color-dandelion;
    }

    &.su-link--action {
      @apply no-underline;
    }

    &.su-link--internal::after {
      &:hover,
      &:focus {
        background-color: $saa-color-dandelion;
      }
    }

    &.su-link--video::after {
      width: 14px; // video icon is too wide, 13px cuts it off, temp fix
    }

    &.disabled {
      @apply text-gray-700;
    }
  }
}

// This link style is for used to override the vivid-red cta styles for colored background (i.e. Sandstone, Light Grey).
// It inherits the hover and focus styling from the vivid-red cta mixin
@mixin cta-dark-vivid-red {
  @include cta-vivid-red;
  color: $su-color-vivid-red-dark;
  @apply no-underline;

  &::after {
    background-color: $su-color-vivid-red-dark;
  }

  &.su-link--action,
  &.su-link--external,
  &.su-link--download,
  &.su-link--video,
  &.su-link--jump,
  &.su-link--top,
  &.su-link--internal {

    &::after {
      background-color: $su-color-vivid-red-dark;
    }
  }
}
