@charset "UTF-8";

@mixin cta-white-on-bright-red {
  .su-link,
  a {
    @apply text-white;
    text-decoration: underline;

    &:hover,
    &:focus {
      @apply underline;
      color: $saa-color-dandelion;
    }

    &::after {
      @apply bg-white;

      &:hover {
        @apply cursor-pointer;
        background-color: $saa-color-dandelion;
      }
    }

    &:hover::after,
    &:focus::after {
      background-color: $saa-color-dandelion;
    }

    &.su-link--action {
      @apply no-underline;
    }

    &.su-link--internal::after {
      &:hover,
      &:focus {
        background-color: $saa-color-dandelion;
      }
    }

    &.su-link--video::after {
      width: 14px; // video icon is too wide, 13px cuts it off, temp fix
    }

    &.disabled {
      @apply text-gray-700;
    }
  }

}

