{# Glue code for Decanter's component #}
{% import "@jumpstart_ui/macros/field-links-to-list.twig" as linklist %}
{% import "@jumpstart_ui/macros/field-links-to-social-list.twig" as sociallist %}

{%- set weblogin_text = weblogin_text|render_clean -%}
{%- if weblogin_text is empty -%}
  {%- set weblogin_url = '' -%}
{%- endif -%}
{%- set lockup_title = lockup_title|render_clean -%}
{%- set signup_form_method = signup_form_method|render_clean -%}
{%- set signup_form_action = signup_form_action|render_clean -%}
{%- set signup_form_field_submit_value = signup_form_field_submit_value|render_clean -%}
{%- set action_links = linklist.create_list(action_links) -%}
{%- set social_links = sociallist.create_list(social_links) -%}
{#{%- set primary_links = linklist.create_list(primary_links) -%}#}
{#{%- set secondary_links = linklist.create_list(secondary_links) -%}#}
{#{%- set primary_links_header = primary_links_header|render_clean -%}#}
{#{%- set secondary_links_header = secondary_links_header|render_clean -%}#}

{% if attributes is not empty %}
  {% set attributes = attributes.removeClass('su-local-footer') %}
{% else %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if modifier_class is not empty %}
  {% set attributes = attributes.addClass(modifier_class) %}
{% endif %}

{% set modifier_class = attributes.class %}
{% set attributes = attributes|without('class') %}

{%- extends "@decanter/components/local-footer/local-footer.twig" -%}

{% block contentcell1 %}
  {#
    The address is optional so don't put non-address
    content in it.
    Use the `cell1` variable instead.
  #}
{#  <div class="su-fat-footer__logo-container"><a {{ attributes }} class="su-fat-footer__logo" href="https://stanford.edu"><img src="{{ base_path ~ directory }}/src/assets/svg/saa-logo-color.svg" alt="Stanford Alumni" class="su-fat-footer__logo" /></a></div>#}
  <div class="su-fat-footer__logo-container">
    <img src="{{ base_path ~ directory }}/dist/assets/svg/saa-logo-color.svg" alt="Stanford Alumni" class="su-fat-footer__logo" />
  </div>
    <address class="su-local-footer__address">
      <p class="address" translate="no"><span class="organization">Stanford Alumni Association</span><br>
        <span class="address-line1">Frances C. Arrillaga Alumni Center</span><br>
        <span class="address-line2">326 Galvez Street</span><br>
        <span class="locality">Stanford</span>, <span class="administrative-area">CA</span> <span class="postal-code">94305-6105</span><br>
{#        <span class="country">United States</span></p>#}
        <span><a class="map-link su-link--external" href="https://www.google.com/maps/place/Frances%20C.%20Arrillaga%20Alumni%20Center/@37.430725,-122.1648,15z/data=!4m5!3m4!1s0x0:0x778a60994d7a5e4c!8m2!3d37.430725!4d-122.1648?shorturl=1">map</a></span><br>
    </address>
  {# Stylized links. See local-footer.json for structure for macro. #}
    <ul class="su-local-footer__action-links">
      <li><a href="https://cardinalalumni.stanford.edu/get/page/directory/search?pgOrg=saa">Find an alum</a></li>
      <li><a href="https://cardinalalumni.stanford.edu/tools/mail?level=12&groupname=saa&pgOrg=saa&dbc=y">Check your alumni email</a></li>
      <li><a href="https://cardinalalumni.stanford.edu/get/page/membership/saacard">Access SAA Member Card</a></li>
      <li><a href="http://giving.stanford.edu/">Give to Stanford</a></li>
    </ul>
  {# Stylized links. See local-footer.json for structure for macro. #}
  <ul class="su-local-footer__social-links">
    <li>
      <a href="https://www.facebook.com/stanfordalumni" class="su-local-footer__social-facebook">
        <i aria-hidden="true"></i>
        <span>Stanford Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/groups/74186/" class="su-local-footer__social-linkedin">
        <i aria-hidden="true"></i>
        <span>LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/stanfordalumni" class="su-local-footer__social-twitter">
        <i aria-hidden="true"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/stanfordalumni" class="su-local-footer__social-instagram">
        <i aria-hidden="true"></i>
        <span>Stanford Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/StanfordAlumni/" class="su-local-footer__social-youtube">
        <i aria-hidden="true"></i>
        <span>Youtube</span>
      </a>
    </li>
    <li>
      <a href="internal:/interior-page" class="su-local-footer__social-internal:">
        <i aria-hidden="true"></i>
        <span>local link</span>
      </a>
    </li>
  </ul>

  <div class="saa-footer--legal-links">
    <a href="https://alumni.stanford.edu/accessibility/">Accessibility</a> |
    <a href="https://alumni.stanford.edu/privacy/">Privacy Policy</a> |
    <a href="https://alumni.stanford.edu/terms/">Terms of Use</a> |
    <a href="https://alumni.stanford.edu/code-of-conduct/">Code of Conduct</a>
  </div>
{% endblock %}

{% block contentcell2 %}
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-1" aria-label="saa footer section 1">
    <h2 class="su-local-footer__list-heading">Events</h2>
    <ul class="saa-local-footer__links-column-1">
      <li><a href="https://alumni.stanford.edu/events/">Featured Events</a></li>
      <li><a href="https://reunion.stanford.edu/">Reunions</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-2" aria-label="saa footer section 2">
    <h2 class="su-local-footer__list-heading">Communities</h2>
    <ul class="saa-local-footer__links-column-2">
      <li><a href="https://alumni.stanford.edu/groups/">Clubs & Groups</a></li>
      <li><a href="https://youngalumni.alumni.stanford.edu/">Young Alumni</a></li>
{#      <li><a href="/">Grad Alumni</a></li>#}
      <li><a href="https://students.alumni.stanford.edu/">Students</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-3" aria-label="saa footer section 3">
    <h2 class="su-local-footer__list-heading">Reading & Resources</h2>
    <ul class="saa-local-footer__links-column-3">
{#      <li><a href="/">News/Announcements</a></li>#}
      <li><a href="https://alumni.stanford.edu/stories/">News & Stories</a></li>
      <li><a href="https://alumni.stanford.edu/resources/learn/">Learn</a></li>
      <li><a href="https://stanfordmag.org/">STANFORD magazine</a></li>
      <li><a href="https://careers.alumni.stanford.edu/resources/">Career Connections</a></li>
      <li><a href="https://alumni.stanford.edu/resources/newsletters/">Newsletters</a></li>
      <li><a href="https://racialjustice.alumni.stanford.edu/">Racial Justice</a></li>
    </ul>
  </nav>
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-4" aria-label="saa footer section 4">
    <h2 class="su-local-footer__list-heading">Programs & Perks</h2>
    <ul class="saa-local-footer__links-column-4">
      <li><a href="https://alumni.stanford.edu/perks/">Alumni Perks</a></li>
      <li><a href="https://alumni.stanford.edu/membership/">Alumni Membership</a></li>
      <li><a href="https://sierracamp.alumni.stanford.edu/">Sierra Programs</a></li>
      <li><a href="https://alumni.stanford.edu/travel-study">Travel/Study</a></li>
      <li><a href="https://partners.vinoshipper.com/stanford">Wine Collection</a></li>
      <li><a href="https://cardinalalumni.stanford.edu/get/page/resources/shop/home">Alumni store</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-5" aria-label="saa footer section 5">
    <h2 class="su-local-footer__list-heading">Volunteer</h2>
    <ul class="saa-local-footer__links-column-5">
      <li><a href="https://alumni.stanford.edu/volunteer/">Volunteer Opportunities</a></li>
      <li><a href="https://associates.alumni.stanford.edu/">Stanford Associates</a></li>
      <li><a href="https://alumni.stanford.edu/volunteer/beyond-the-farm/">Beyond the Farm</a></li>
      <li><a href="https://alumni.stanford.edu/volunteer/trustee-nominations">Trustee Nominations</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-6" aria-label="saa footer section 6">
    <h2 class="su-local-footer__list-heading">About</h2>
    <ul class="saa-local-footer__links-column-6">
      <li><a href="https://alumni.stanford.edu/about/">About SAA</a></li>
      <li><a href="https://alumnicenter.alumni.stanford.edu/">Alumni Center</a></li>
      <li><a href="https://alumnicenterevents.alumni.stanford.edu/">Event Space</a></li>
      <li><a href="https://alumni.stanford.edu/about/contact/">Contact Us</a></li>
    </ul>
  </nav>
{% endblock %}

{% block contentcell3 %}
{% endblock %}
