@charset "UTF-8";

.su-secondary-nav--light {

  // current page
  .su-secondary-nav__item--current > .su-secondary-nav__link {
    color: $saa-color-vivid-red;

    &::before {
      background-color: $saa-color-vivid-red;
    }
  }

  .su-secondary-nav__link {
    color: $su-color-black;

    &:hover,
    &:focus {
      color: $su-color-cardinal-red;

      &::before {
        background-color: $su-color-cardinal-red;
      }
    }
  }

  // override one part for needed specificity
  a {
    // we'll never have buttons inside the menu, but this is needed for specificity
    .su-secondary-nav__link:not(.su-button):not(.su-button--secondary):not(.su-button--big) {
      &::after {
        background-color: $su-color-black;
      }
    }
  }
}
