@charset "UTF-8";

$saa-color-vivid-red: #e50808;

.su-multi-menu {
  .su-multi-menu__nav-toggle--right {
    &:hover::before,
    &::before {
      color: transparent;
      background-color: transparent;
    }

    &[aria-expanded="true"] {
      color: $saa-color-vivid-red;

      &::before {
        color: $saa-color-vivid-red;
        background-color: $saa-color-vivid-red;
      }
    }
  }

  @include grid-media-min('lg') {
    > .su-multi-menu__menu > .su-multi-menu__item {
      .su-multi-menu__link {
        color: $su-color-black;

        &:hover,
        &:focus {
          color: $su-color-cardinal-red;
          text-decoration: none;

          &::before {
            background-color: $su-color-cardinal-red;
            transform: scaleX(1);
            visibility: visible;
          }
        }
      }

      &.su-multi-menu__item--active-trail {
        .su-multi-menu__link {
          color: $saa-color-vivid-red;

          &::before {
            background-color: $saa-color-vivid-red;
          }

          &:hover,
          &:focus {
            color: $su-color-cardinal-red;
            text-decoration: none;

            &::before {
              background-color: $su-color-cardinal-red;
            }
          }
        }
      }
    }
  }
}


