@charset "UTF-8";

.su-wysiwyg-text {

  & > .su-subheading:first-of-type {
    margin-top: 0;
  }

  p.su-subheading {
    @include saa-modular-typography-small;
    @include modular-spacing('margin-top', 2);
    @include grid-media-max('sm') {
      margin-top: $mobile-modular-spacing-2;
    }

    margin-bottom: 5px;
    line-height: 1;
    font-weight: bold;
    text-transform: capitalize;

    & ~ * {
      padding-top: 0;
    }

  }
}


