@charset "UTF-8";

.paragraph--type--stanford-wysiwyg {
  .su-wysiwyg-text {
    .su-link--action ~ .su-link--action {
      @include modular-spacing('margin-top', 0);
      @include grid-media-max(sm) {
        margin-top: $mobile-modular-spacing-0;
      }
      display: inline-block;
      line-height: 125%;
    }
  }
}
