.algolia-search--search-field-wrapper {
  border-color: $su-color-black-60;
}

.algolia-search--search-btn {
  background: $su-color-digital-red-light;

  &:hover {
    background: $su-color-cardinal-red;
  }
}

.algolia-search--clear-btn {
  color: $su-color-black-70;
  font-size: 1.6rem;

  &:hover {
    color: $su-color-black;
  }

  @include grid-media-min('lg') {
    font-size: 1.9rem;
  }
}

.algolia-search--search-input {
  font-size: 1.56em;
}