.algolia-search--no-results-heading {
  font-family: $su-font-serif;
  font-size: 1.95em;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.algolia-search--no-results-body {
  font-family: $su-font-sans;
  font-size: 1.8rem;
}