.algolia-search--autocomplete-container {
  top: 100%;
  background: rgb(84, 17, 7);
  border: 1px solid $su-color-digital-red-light;
  z-index: 300;
}

.algolia-search--autocomplete-item {
  color: $su-color-white;

  &:hover,
  &:focus,
  &.focused {
    background: $su-color-digital-red;
  }
}