.algolia-search-results__image-wrapper {
  width: 15rem;
  height: 10rem;
  @include modular-spacing('margin-left', 1);
  @include modular-spacing('margin-top', 0);

  @include grid-media-min('md') {
    width: 22.5rem;
    height: 15rem;
  }
}

.algolia-search--result-item  {
  border-color: $su-color-black-40;
}

.algolia-search--result-title {
  font-size: 2.6rem;

  &:hover .right-arrow {
    transform: translateX(0.2em);
  }

  &:hover .external-arrow {
    transform: translateX(0.1em) translateY(-0.1em) rotate(-45deg);
  }
}

.algolia-search--result-domain {
  font-size: 1.6rem;
}

.algolia-search--results-count {
  font-size: 2.1rem;
}