.algolia-search--pager-link {
  color: $su-color-digital-red-light;
  font-family: $su-font-sans;
  font-size: 2.6rem;
  padding: 0 1.1rem;
  
  &:hover,
  &.active {
    border-color: $su-color-cardinal-red;
    border-bottom-width: 3px;
    color: $su-color-cardinal-red;
  }
}

.algolia-search--pager-next,
.algolia-search--pager-prev {
  font-family: $su-font-sans;
  font-size: 2rem;

  &:hover {
    border-color: $su-color-cardinal-red;
    border-bottom-width: 3px;
  }
}