.aloglia-search--title-banner {
  background: $su-color-foggy-light;
  padding: 4.5rem 1.5rem;

  @include grid-media-min('lg') {
    padding: 10.8rem 1.5rem;
  }

  h1 {
    font-family: $su-font-serif;
    font-size: 4.6rem;

    @include grid-media-min('lg') {
      font-size: 6.4rem;
    }
  }
}

.algolia-search--main {
  padding: 4.5rem 0;

  @include grid-media-min('lg') {
    padding: 8rem 0;
  }
}

.algolia-search--filter-clear-btn {
  color: $su-color-digital-red-light;
  font-size: 1.8rem;
  padding: 1rem 2.6rem;

  &:hover {
    color: $su-color-cardinal-red;
    background: none;
  }
}

.algolia-search--filter-btn {
  background: $su-color-white;
  border: 1px solid $su-color-black-30;
  color: $su-color-digital-red;
  font-size: 2.1rem;

  &.opened,
  &:hover,
  &:focus {
    background: $su-color-digital-red;
    border-color: $su-color-digital-red;
    color: $su-color-white;
    text-decoration: none;
  }
}

.algolia-search--filter-close-btn {
  font-size: 1.8rem;
  font-weight: 400;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.algolia-search--filter-apply-btn {
  background: $su-color-digital-red-light;
  color: $su-color-white;
  font-size: 1.8rem;
  padding: 1rem 2.6rem;

  &:hover,
  &:active {
    background: $su-color-cardinal-red;
  }
  svg {
    transition: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover svg {
    transform: translateX(0.2em);
  }
}

.algolia-search--mobile-filter-actions {
  background: $su-color-foggy-light;
}