@charset "UTF-8";

.su-local-footer {
  // first column links
  .map-link {
    @include cta-dark-vivid-red;
  }

  // Action link styles
  .su-local-footer__action-links {
    .su-link,
    a {
      @include cta-dark-vivid-red;
      @include saa-modular-typography-medium-small;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  // first column bottom links
  .saa-footer--legal-links {
    a {
      @include footer--black-link;
      font-size: 16px; // always 16px

      &.su-link--external::after {
        display: none;
      }
    }
  }

  nav {
    // all regular navigation links
    a {
      @include footer--black-link;

      &.su-link--external::after {
        display: none;
      }
    }
  }

  // footer buttons
  .su-local-footer__header {
    .su-link--internal {
      @include saa-button--purple;
      @apply
      rounded-none
      shadow-none;

      &:hover,
      &:focus {
        @apply shadow-none;

        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }

  // special button in footer
  .su-local-footer__columns {
    input[type="submit"] {
      @include saa-button--purple;
      margin-top: 14px;
    }
  }
}
