@charset "UTF-8";

/* First Column Styles */
.su-local-footer {
  .su-fat-footer__logo {
    max-width: 250px;
    @include modular-spacing('padding-bottom', 4);
  }

  .su-local-footer__address {
    @include modular-spacing('padding-right', 3);

    .organization {
      @apply font-bold;
    }
  }

  .map-link {
    @apply font-bold;
  }

  .su-local-footer__social-links {
    padding-left: 2px; // needed for tabbing experience
  }

  .saa-footer--legal-links {
    @include modular-spacing('padding-top', 3);
    max-width: 250px;
  }
}
