@charset "UTF-8";

/* Footer Layout */
.su-local-footer {
  .su-local-footer__columns {
    @include modular-spacing('padding-top', 4);
    grid-template-areas: "A B";

    @include grid-media-min('md') { // 1200px
      -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
      grid-column-gap: 60px;
    }
    @include grid-media-min('xl') { // 1200px
      -ms-grid-columns: 3fr 6fr;
      grid-template-columns: 3fr 6fr;
      grid-column-gap: 90px;
    }

    // border when there are 2 sections:
    @include grid-media-min('md') {
      .su-local-footer__cell1 {
        border-right: solid 1px $su-color-cool-grey;
        @include modular-spacing('padding-right', 3);
      }
    }

    // Change middle column area into 3-column right area
    .su-local-footer__cell2 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-area: B;

      @include grid-media-min('md') {
        @apply
        flex
        flex-wrap
        justify-between;
      }

      nav {
        @apply
        pt-0
        mx-0;
        @include modular-spacing('padding-bottom', 3);

        @include grid-media-max('md') {
          @apply
          min-w-full
          max-w-full;

          // no padding on last section
          &.saa-local-footer__links-section-6 {
            @apply pb-0;
          }
        }

        @include grid-media-min('md') {
          min-width: calc(49% - 24px);
          max-width: calc(49% - 24px);
        }

        @include grid-media-min('xl') {
          min-width: calc(33% - 24px); // change to 1/3 width instead of 1/2 width
          max-width: calc(33% - 24px);
        }
      }

      h2 {
        @include saa-modular-typography-small-heading;
        @apply pt-0;
      }
    }

    .su-local-footer__cell3 {
      @apply hidden;
    }

    /* Link Section Headings  */
    .su-local-footer__list-heading {
      @include modular-spacing('padding', 2 null 0);
    }

    ul {
      & > li {
        @include modular-spacing('margin-bottom', -2);
      }
    }
  }
}
