@charset "UTF-8";

$saa-brand-bar--height: 50px;
$saa-brand-bar--img--height: 22px;

.su-brand-bar {
  height: $saa-brand-bar--height;
}

.su-brand-bar__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.su-brand-bar__logo {
  margin-top: 0;
}

.su-brand-bar__img {
  height: $saa-brand-bar--img--height;
}
