@charset "UTF-8";

@import '../../utilities/index'; // katria come back to, is this the right approach?

html,
.su-card .su-card__contents {
  font-family: $saa-font--proxima-nova;
  font-size: $su-root-font-size;
}

// pulling in decanter styles to override base tailwind settings

body {
  @include modular-typography-base;
  color: $su-color-black;
}

p {
  line-height: $su-base-line-height;
  @include margin(0 null 1em null);
}

h1,
h2,
h3,
h4,
h5,
h6,
*[class^="su-type"] {
  @include types;
}

h1,
.su-type-a {
  @include type-a;
}

h2,
.su-type-b {
  @include type-b;
}

h3,
.su-type-c {
  @include type-c;
}

h4,
.su-type-d {
  @include type-d;
}

h5,
.su-type-e {
  @include type-e;
}

h6,
.su-type-f {
  @include type-f;
}

// SAA specifics

h1 {
  @include saa-font--calluna-base;
  font-size: 2em;
  margin: 0.67em 0;
}

h2,
h3,
h4,
h5,
su-font-splash,
p.su-callout-text,
.sa-font--calluna-black {
  @include saa-font--calluna-base;
}

// check specifics
.su-drop-cap::first-letter {
  @include saa-font--calluna-base;
}

// what about su-font-splash and other text styles?
//su-font-splash,
//p.su-callout-text
