@charset "UTF-8";

/* SAA Specific colors, Stanford/Decanter colors are not defined here */

// Purples
$saa-color-electric-purple: #505eec;
$saa-color-electric-purple-dark: #26319f;

$saa-color-dandelion: #Fbd115;

$saa-color-wintergreen: #77c7a0;

// su color
$su-color-vivid-red-dark: #cE0d0d;
$su-color-fog: #f4f4f4;
$su-color-light-sandstone: #f9f6Ef;
$su-color-bright-red: #e50808;
