@charset "UTF-8";

/* SAA Specific colors, Stanford/Decanter colors are not defined here */

// Purples
$saa-color-electric-purple: #505EEC;
$saa-color-electric-purple-dark: #3C47B1;

$saa-color-dandelion: #FBD115;

$saa-color-wintergreen: #77C7A0;

// su color
$su-color-vivid-red-dark: #CE0D0D;
$su-color-fog: #F4F4F4;
