@charset "UTF-8";

// should be used only in breakpoints xs and sm,
// temporary overrides until modular spacing is adjusted in decanter V6
$mobile-modular-spacing-0: 15px;
$mobile-modular-spacing-1: 20px;
$mobile-modular-spacing-2: 30px;
$mobile-modular-spacing-3: 32px;
$mobile-modular-spacing-4: 34px;
$mobile-modular-spacing-5: 38px;
$mobile-modular-spacing-6: 45px;
$mobile-modular-spacing-7: 50px;
$mobile-modular-spacing-8: 60px;
$mobile-modular-spacing-9: 70px;
$mobile-modular-spacing-10: 80px;
