@charset "UTF-8";

// should be used only in breakpoints xs and sm,
// temporary overrides until modular spacing is adjusted in decanter V6
$mobile-modular-spacing-0: 5px;
$mobile-modular-spacing-1: 10px;
$mobile-modular-spacing-2: 20px;
$mobile-modular-spacing-3: 30px;
$mobile-modular-spacing-4: 40px;
$mobile-modular-spacing-5: 50px;
$mobile-modular-spacing-6: 60px;
$mobile-modular-spacing-7: 70px;
$mobile-modular-spacing-8: 80px;
$mobile-modular-spacing-9: 90px;
$mobile-modular-spacing-10: 100px;
