
{# Need to get this working so it's formatted better, must be missing something:  #}
{#{%- extends "@stanford_basic/templates/page.html.twig"  -%}#}
{% extends 'themes/custom/stanford_basic/templates/page.html.twig' %}


{#would skip-to link go here? #}
{#  This actually goes in the html template, and it should be getting these links already from stanford basic's html template:  #}
{#{%- if template_path_skiplink is empty -%}#}
{#  {%- include "@decanter/components/skiplinks/link.twig" with { target_id : "page-content" } -%}#}
{#{%- endif -%}#}
{#{%- if template_path_skiplink is empty -%}#}
{#  {%- include "@decanter/components/skiplinks/link.twig" with { target_id : "secondary-links", link_text: "Skip to secondary links" } -%}#}
{#{%- endif -%}#}
{#<a href="#secondary-links" class="su-skiplinks">'Skip to secondary links')</a>#}

{% block block_brandbar %}
  {%- include "@saa_victoria_subtheme/components/brand-bar/saa--brand-bar.html.twig" with { modifier_class : "su-brand-bar--dark" } -%}
{% endblock %}

{# same help block -- inheritted now #}

{# Possibly split this out into a masthead template, but i thought we had some challenge doing that? #}

{% block block_header %}
  <header class="su-masthead su-masthead--right">
    <section>
      {%- include "@saa_victoria_subtheme/components/lockup/saa--lockup.html.twig" with { modifier_class : "su-lockup--option-a", line1: site_name } -%}
      {%- if page.search -%}
        {{ page.search }}
      {%- endif -%}
      {%- if page.menu -%}
        {{ page.menu }}
      {%- endif -%}
    </section>
  </header>
{% endblock %}

{# same main block -- inheritted now #}
{#<main id="page-content" class="page-content">#}
{#  <a  id="page-content" tabindex="-1" class="visually-hidden focusable">Page Content</a>#}
{#  {{ page.content }}#}
{#</main>#}

{% block block_footer %}
  {%- include "@saa_victoria_subtheme/components/fat-footer/saa-fat-footer.html.twig" with { modifier_class : "test" } -%}
  {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
{% endblock %}
