{#
/**
 * Page.html.twig from stanford_basic.
 */
#}
{%- extends "@stanford_basic/page.html.twig"  -%}

{# Change the brand bar. #}
{%- set brand_bar_variant = "su-brand-bar--dark" -%}
{%- set template_brand_bar = "@saa_victoria_subtheme/components/brand-bar/saa--brand-bar.html.twig" %}

{# Override the block_header to swap in our lockup. #}
{% block block_header %}
  <header class="su-masthead su-masthead--right">
    <section>
      {%- include "@saa_victoria_subtheme/components/lockup/saa--lockup.html.twig" with { modifier_class : "su-lockup--option-a", line1: site_name } -%}
      {{ page.search }}
      {{ page.menu }}
    </section>
  </header>
{% endblock %}

{# Override the footer #}
{% block block_footer %}
  {%- include "@saa_victoria_subtheme/components/fat-footer/saa-fat-footer.html.twig" with { modifier_class : "test" } -%}
  {%- include template_global_footer -%}
{% endblock %}
