@charset "UTF-8";

@mixin news-link-styles {
  a {

    &::after {
      background-color: $saa-color-vivid-red;
    }

    &:focus,
    &:hover {
      //text-decoration: underline;
      @apply underline;

      &::after {
        background-color: $su-color-cardinal-red;
      }
    }
  }
}

.su-news-vertical-teaser {
  @include news-link-styles;

  &.su-card {
    .su-card__contents {
      .news-vertical-teaser__topics {
        a {
          @include cta-vivid-red;
          @apply no-underline;
          //text-decoration: none;

          &:focus,
          &:hover {
            //text-decoration: underline;
            @apply underline;
          }
        }
      }
    }


    .su-link {
      &:not(.su-button):not(.su-button--secondary):not(.su-button--big):after { //  unfortunately required to specifically override)
        background-color: $su-color-black;

        &:focus,
        &:hover {
          background-color: $su-color-cardinal-red;
        }
      }

      &:focus,
      &:hover {
        color: $su-color-cardinal-red;
      }
    }
  }
}

.su-news-external {
  .su-news-list__item {
    @include news-link-styles;
  }
}

.su-news-list {
  a {
    @include cta-vivid-red;
    //text-decoration: none;
    @apply no-underline;

    &:focus,
    &:hover {
      //text-decoration: underline;
      @apply underline;
    }
  }
}

.su-news-list__topics {
  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.su-news-list__footer a {
  @include saa-button--purple;
  box-shadow: none;

  &:focus,
  &:hover {
    box-shadow: none;
  }
}


.stanford-news--cards {
  & > .more-link {
    a {
      @include saa-button--purple;
    }
  }
}
