@charset "UTF-8";

.su-news-list {
  a {
    @include cta-vivid-red;

    h2 {
      &:focus,
      &:hover {
        &::after {
          background-color: $su-color-cardinal-red;
        }
      }
    }
  }
}

.su-news-list__footer a {
  @include saa-button--purple;
  box-shadow: none;

  &:focus,
  &:hover {
    box-shadow: none;
  }
}
