@charset "UTF-8";

$banner-circle--image-width: 200px;

// only apply to banners inside the react paragraph page content section
.paragraph-item {
  // if there is an image and a card  - testimonial banner
  .saa-banner--has-image {
    .su-hero {
      background: $su-color-light-sandstone;
      height: auto;
      min-height: unset;
      position: unset;
      padding-top: 72px;
      padding-bottom: 108px;

      .su-hero__media {
        background: transparent;
        min-height: unset;
        position: unset;

        img { // Image display has been set to media image style - Medium (220)
          border-radius: 50%;
          width: $banner-circle--image-width;
          height: $banner-circle--image-width;
          max-width: $banner-circle--image-width;
          max-height: $banner-circle--image-width;
          margin-left: auto;
          margin-right: auto;
          object-fit: cover;
          padding: 0;
        }
      }

      .su-card {
        &.su-hero__card {
          //@apply
          //max-w-screen-lg
          //left-0
          //h-full
          //text-center
          //border-none
          //shadow-none
          //pt-8;
          background: transparent;
          color: $su-color-black;
          border: 0;
          box-shadow: none;
          height: 100%;
          left: 0;
          max-width: 1024px;
          margin: 0 auto;
          padding-top: 2rem;
          position: unset;
          text-align: center;
          top: 100px;
        }

        .su-card__contents {
          //@apply
          //max-w-screen-lg
          //p-0;
          max-width: 1024px;
          padding: 0;

          > *:not(:last-child) {
            margin-bottom: 1.2rem;
          }

          h2 {
            font-size: 3.5rem;

            &::before {
              content: open-quote;
            }

            &::after {
              content: close-quote;
            }
          }

          .su-link,
          a {
            margin-bottom: 1.8rem;
          }
        }
      }
    }
  }
}
