@charset "UTF-8";
// Banner B Width Variables
//$banner-b--lg: 864px;
//$banner-b--xl: 1024px;

.paragraph-item {
  // if there is NO image and a card  - all red full width
  .saa-banner--no-image {
    .su-hero {
      height: auto;
      min-height: unset;

      .su-hero__media {
        display: none;
      }

      .su-card {
        &.su-hero__card {
          @apply bg-vivid_red text-white m-0 relative shadow-none max-w-full h-full border-0 left-0 top-0 text-center flex items-center justify-center;
          @include modular-spacing('padding', 3);

          .su-card__contents {
            @apply p-0;
          }

          .su-link--action {
            @apply text-white;

            &::after {
              @apply bg-white;
            }

            &:hover,
            &:focus {
              @apply underline;
            }
          }

          @include grid-media-min('lg') {
            .su-card__contents {
              max-width: $banner-b--lg;
              @apply inline;
            }
          }

          @include grid-media-min('xl') {
            .su-card__contents {
              max-width: $banner-b--xl;
              @apply max-w-screen-lg;
            }
          }

          // Might not need this as the current default button styling is saa-button-purple
          //.su-button {
          //  @include saa-button-purple;
          //}
        }
      }
    }
  }

}
