@charset "UTF-8";

// only apply to banners inside the react paragraph page content section
.paragraph-item {
  // if there is NO image and a card  - all red full wide
  .saa-banner--no-image {
    .su-hero {
      min-height: unset;

      .su-hero__media {
        display: none;
      }

      .su-card.su-hero__card {
        margin: 0;
        position: relative;
        max-width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: none;
        box-shadow: none;
        background: $su-color-bright-red;
        color: $su-color-white;

        .su-button {
          background: $su-color-bright-red;
          color: $su-color-white;
          border: 1px solid $su-color-white;
        }
      }
    }
  }

  // if there is an image and a card  - testimonial banner

  .saa-banner--has-image {
    .su-hero {
      .su-hero__media {
        background: $su-color-white;

        img {
          max-width: 200px;
          max-height: 200px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          padding: 20px;
        }
      }

      .su-hero__card {
        background: none;
        color: $su-color-black;
        /* width: 50%; */
        /* height: 100%; */
        margin: 0;
        position: relative;
        max-width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding-top: 40px;
        border: none;
        box-shadow: none;
        text-align: center;
      }

      .su-link,
      a {
        padding-top: 20px;
      }
    }
  }

}
