@charset "UTF-8";

.paragraph-item {
  // if there is NO image and a card  - all red full width
  .saa-banner--no-image {
    .su-hero {
      height: auto;
      min-height: unset;

      .su-hero__media {
        display: none;
      }

      .su-card {
        &.su-hero__card {
          @apply
          relative
          shadow-none
          max-w-full
          h-full
          border-0
          left-0
          top-0
          text-center
          flex
          items-center
          justify-center;
          @include modular-spacing('padding', 3);

          background: $su-color-vivid-red;
          color: $su-color-white;
          margin: 0;

          .su-card__contents {
            @apply p-0;

            @include grid-media-min('lg') {
              max-width: $banner-b--lg;
              @apply inline;
            }

            @include grid-media-min('xl') {
              max-width: $banner-b--xl;
              @apply max-w-screen-lg;
            }
          }

          .su-link--action {
            // cta-white-on-bright-red currently does not include the action link styling (.su-link--action)
            //@include cta-white-on-bright-red;
            //@apply text-white;
            color: $su-color-white;

            &::after {
              //@apply bg-white;
              background: $su-color-white;
            }

            &:hover,
            &:focus {
              @apply underline;
            }
          }


          // Might not need this as the current default button styling is saa-button-purple
          .su-button {
            @include saa-button-purple;
          }
        }
      }
    }
  }

}
