@charset "UTF-8";

$banner-circle--image-width: 200px;

// only apply to banners inside the react paragraph page content section
.paragraph-item {
  // if there is an image and a card  - testimonial banner
  .saa-banner--has-image {
    .su-hero {
      background: $su-color-light-sandstone;
      height: auto;
      min-height: unset;
      position: unset;
      @include grid-media-max('md') {
        @include modular-spacing('padding', 3);
      }

      @include modular-spacing('padding-top', 5);
      @include modular-spacing('padding-bottom', 6);



      .su-hero__media {
        background: transparent;
        min-height: unset;
        position: unset;

        img { // Image display has been set to media image style - Medium (220)
          border-radius: 50%;
          width: $banner-circle--image-width;
          height: $banner-circle--image-width;
          margin-left: auto;
          margin-right: auto;
          object-fit: cover;
          padding: 0;
          @include modular-spacing('margin-bottom', -2);
        }
      }

      .su-card {
        &.su-hero__card {
          //@apply
          //max-w-screen-lg
          //left-0
          //h-full
          //text-center
          //border-none
          //shadow-none
          //pt-8;
          background: transparent;
          color: $su-color-black;
          border: 0;
          box-shadow: none;
          height: 100%;
          left: 0;
          max-width: 1024px;
          margin: 0 auto;
          position: unset;
          text-align: center;
          top: 100px;
        }

        .su-card__contents {
          //@apply
          //max-w-screen-lg
          //p-0;
          max-width: 1024px;
          padding: 0;
          display: flex;
          flex-direction: column;

          > span {
            order: 2;
            @include modular-typography(1);
            font-weight: normal;
          }

          h2 {
            order: 1;
            @include modular-typography(3);

            &::before {
              content: open-quote;
            }

            &::after {
              content: close-quote;
            }
          }

          > p {
            order: 3;
          }

          > .su-card__button {
            order: 4;

            a.su-link.su-button {
              margin-bottom: 0;
            }
          }

          > *:not(:last-child) {
            margin-bottom: 1.2rem;
            @include modular-spacing('margin-bottom', -1)
          }


          .su-link,
          a {
            @include cta-dark-vivid-red;
            @include modular-spacing('margin-bottom', 0);
          }
        }
      }
    }
  }
}


// when on a page with a sidebar nav, needs adjustments:
.jumpstart-ui--two-column.centered-container {
  .flex-lg-9-of-12.main-region {
    .su-hero {
      // when on a sidebar-nav page, needs less bottom spacing
      @include modular-spacing('padding-bottom', 5);

      .su-card__contents {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        @include grid-media-min(lg) {
          max-width: 80%;
        }
      }
    }
  }
}

// Testimonial Banner accessible link styles
//.paragraph-item {
//  .saa-banner--has-image {
//    .su-link:not(.su-button):not(.su-button--secondary):not(.su-button--big),
//    a:not(.su-button):not(.su-button--secondary):not(.su-button--big) {
//    }
//  }
//}
