// top banners only:
.su-page-banner {
  // if there is NO image and a card
  .su-hero .su-card.su-hero__card {
    background: $su-color-vivid-red;
    color: $su-color-white;
    .su-button {
      background-color: $saa-color-electric_purple;

    }
  }


  // if there is an image and a card
  .su-hero .su-hero__media ~ .su-card.su-hero__card {
    background: $saa-color-electric_purple;
    color: $su-color-white;
    /* width: 50%; */
    /* height: 100%; */
    margin: 0;
    position: relative;
    max-width: 50%;
    height: 100%;
    left: 0;
    border: none;
    box-shadow: none;
  }

}



// only apply to banners inside the react paragraph page content section
.paragraph-item {
  // if there is NO image and a card  - all red full wide
  .su-hero .su-card.su-hero__card {

    margin: 0;
    position: relative;
    max-width: 50%;
    height: 100%;
    left: 0;
    border: none;
    box-shadow: none;

    background: $su-color-bright-red;
    color: $su-color-white;

    .su-button {
      background: $su-color-bright-red;
      color: $su-color-white;
      border: 1px solid $su-color-white;
    }
  }


  // if there is an image and a card  - testimonial banner
  .su-hero .su-card.su-hero__card ~ .su-hero__media img {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 20px;
  }
  .su-hero .su-hero__media ~ .su-card.su-hero__card {
    background: $saa-color-electric_purple;
    color: $su-color-white;
    /* width: 50%; */
    /* height: 100%; */
    margin: 0;
    position: relative;
    max-width: 50%;
    height: 100%;
    left: 0;
    border: none;
    box-shadow: none;
  }
}
