@charset "UTF-8";

$banner-circle--image-width: 200px;
$banner-circle--padding: 20px;

// only apply to banners inside the react paragraph page content section
.paragraph-item {
  // if there is an image and a card  - testimonial banner
  .saa-banner--has-image {
    .su-hero {
      .su-hero__media {
        background: $su-color-light-sandstone;

        img {
          max-width: $banner-circle--image-width;
          max-height: $banner-circle--image-width;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          padding: 0;
          margin-top: $banner-circle--padding;
          margin-bottom: $banner-circle--padding;
        }
      }

      .su-card {
        &.su-hero__card {
          @apply relative max-w-screen-lg left-0 h-full text-center border-none shadow-none pt-8;
          background: none;
          color: $su-color-black;
          margin: 0 auto;
          top: 100px;
          /* width: 50%; */
          /* height: 100%; */
          //position: relative;
          //max-width: 1024px;
          //height: 100%;
          //left: 0;
          //padding-top: 20px;
          //border: 0;
          //box-shadow: none;
          //text-align: center;

          .su-link,
          a {
            padding-top: 20px;
          }
        }
      }
    }
  }

}
