@charset "UTF-8";

.paragraph-item {
  // if there is NO image and a card  - all red full width
  .saa-banner--no-image {
    .su-hero {
      height: auto;
      min-height: unset;

      .su-hero__media {
        display: none;
      }

      .su-card {
        &.su-hero__card {
          @include modular-spacing('padding', 3);
          align-items: center;
          background: $su-color-vivid-red-dark;
          border: 0;
          box-shadow: none;
          color: $su-color-white;
          display: flex;
          justify-content: center;
          left: 0;
          margin: 0;
          max-width: 100%;
          position: relative;
          text-align: center;
          top: 0;
        }

        .su-card__contents {
          padding: 1px 0 0 0;

          @include grid-media-min('lg') {
            max-width: $banner-b--lg;
            display: inline;
          }

          @include grid-media-min('xl') {
            max-width: $banner-b--xl;
          }

          // small text / superheading field
          span {
            @include saa-modular-typography-small;
            padding-top: 1px; // fixes letters getting cut off
          }

          span,
          h2 {
            margin-bottom: 26px;
          }

          p {
            @include modular-typography(1);
            margin-bottom: 18px;
          }

          // regular links and action links
          a:not(.su-button):not(.su-button--secondary):not(.su-button--big) {
            margin-top: 12px;
            color: $su-color-white;

            &:not(.su-link--action) {
              text-decoration: underline;
            }

            // for action and other types of links
            &::after {
              background: $su-color-white;
            }

            & svg.mailto {
              fill: $su-color-white;
            }

            &:hover,
            &:focus {
              color: $saa-color-extra-light-cloud;
              text-decoration: underline;

              & svg.mailto {
                fill: $saa-color-extra-light-cloud;
              }
            }
          }

          // Enforce only classic button style
          .su-button,
          .su-button--big,
          .su-button--secondary {
            @include saa-button--purple--only;
          }

          .su-button--big {
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
