@charset "UTF-8";

@mixin bright-red-banner--card-common {
  @apply
  bg-bright_red
  text-white
  border-0
  shadow-none
  m-0
  relative
  max-w-full
  max-h-full
  text-white
  left-0
  top-0;
  min-height: inherit;
  @include modular-spacing('padding', 5 null 5 null);

  .su-card__contents > h2 {
    @include modular-typography(3);
    font-family: Calluna;
    font-weight: 900;
    line-height: 119.41%;
    letter-spacing: .5px; // not in figma, but looks needed to match Figma - KAtria check back.
  }
}

// top banners only:
.su-page-banner {
  // if there is NO image and a card
  .saa-banner--no-image {
    .su-hero {
      min-height: auto;

      .su-hero__media {
        @apply bg-bright_red;
        min-height: auto;
      }

      .su-hero__card {
        @include bright-red-banner--card-common;

        .su-button {
          @apply bg-bright_red;
          border: 1px solid white;

          &:hover,
          &:focus {
            @apply
            bg-white
            text-black;
          }
        }
      }
    }
  }

  .saa-banner--has-image {
    // if there is an image and a card - Bright_Red Layout
    .su-hero {
      .su-card {
        &.su-hero__card {
          @include bright-red-banner--card-common;
          max-width: 50%;
        }

        .su-button {
          @include saa-button--vivid-red;
        }
      }
    }
  }
}

// purple styles for top-banner with image, later option
// top banners only:
.purple-banner-class-goes-here-in-future {
  .su-page-banner {
    .saa-banner--has-image {

      // if there is an image and a card - PURPLE LAYOUT
      .su-hero {
        .su-card {
          &.su-hero__card {
            @include bright-red-banner--card-common;
            @apply bg-electric_purple;
            max-width: 50%;
          }
          .su-button {
            @include saa-button--vivid-red;
          }
        }
      }

    }
  }
}
