{# Glue code for Decanter's component #}
{% import "@jumpstart_ui/macros/field-links-to-list.twig" as linklist %}
{% import "@jumpstart_ui/macros/field-links-to-social-list.twig" as sociallist %}

{%- set weblogin_text = weblogin_text|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- if weblogin_text is empty -%}
  {%- set weblogin_url = '' -%}
{%- endif -%}
{%- set lockup_title = lockup_title|render|striptags('<drupal-render-placeholder>')|trim|convert_encoding('UTF-8', 'HTML-ENTITIES') -%}
{%- set signup_form_method = signup_form_method|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set signup_form_action = signup_form_action|render|striptags('<drupal-render-placeholder>')|trim|convert_encoding('UTF-8', 'HTML-ENTITIES') -%}
{%- set signup_form_field_submit_value = signup_form_field_submit_value|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set action_links = linklist.create_list(action_links) -%}
{%- set social_links = sociallist.create_list(social_links) -%}
{#{%- set primary_links = linklist.create_list(primary_links) -%}#}
{#{%- set secondary_links = linklist.create_list(secondary_links) -%}#}
{#{%- set primary_links_header = primary_links_header|render|striptags('<drupal-render-placeholder><a>')|trim -%}#}
{#{%- set secondary_links_header = secondary_links_header|render|striptags('<drupal-render-placeholder><a>')|trim -%}#}

{% if attributes is not empty %}
  {% set attributes = attributes.removeClass('su-local-footer') %}
{% else %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if modifier_class is not empty %}
  {% set attributes = attributes.addClass(modifier_class) %}
{% endif %}

{% set modifier_class = attributes.class %}
{% set attributes = attributes|without('class') %}

{%- extends "@decanter/components/local-footer/local-footer.twig" -%}

{% block contentcell2 %}
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-1" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">Events</h2>
    <ul class="saa-local-footer__links-column-1">
      <li><a href="/">Explore all Events</a></li>
      <li><a href="/">Reunion Homecoming</a></li>
      <li><a href="/">Virtual events</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-2" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">Communities</h2>
    <ul class="saa-local-footer__links-column-2">
      <li><a href="/">Clubs and Groups</a></li>
      <li><a href="/">Young Alumni</a></li>
      <li><a href="/">Grad Alumni</a></li>
      <li><a href="/">Students</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-3" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">Events</h2>
    <ul class="saa-local-footer__links-column-3">
      <li><a href="/">News/Announcements</a></li>
      <li><a href="/">Webcasts and Podcasts</a></li>
      <li><a href="/">STANFORD magazine</a></li>
      <li><a href="/">Career Connections</a></li>
      <li><a href="/">Newsletters</a></li>
    </ul>
  </nav>
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-4" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">Programs & Perks</h2>
    <ul class="saa-local-footer__links-column-4">
      <li><a href="/">Alumni Perks</a></li>
      <li><a href="/">Alumni Membership</a></li>
      <li><a href="/">Sierra Camp</a></li>
      <li><a href="/">Travel/Study</a></li>
      <li><a href="/">Wine Collection</a></li>
      <li><a href="/">Alumni Store</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-5" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">Volunteer</h2>
    <ul class="saa-local-footer__links-column-5">
      <li><a href="/">Getting started</a></li>
      <li><a href="/">Volunteer Leadership</a></li>
      <li><a href="/">Stanford Associates</a></li>
      <li><a href="/">Beyond the Farm</a></li>
    </ul>
  </nav>
  {# Link SEction 1 - top left links. #}
  <nav class="saa-local-footer__links-section saa-local-footer__links-section-6" aria-label="footer primary nav">
    <h2 class="su-local-footer__list-heading">About</h2>
    <ul class="saa-local-footer__links-column-6">
      <li><a href="/">About SAA</a></li>
      <li><a href="/">Your Alumni Center</a></li>
      <li><a href="/">Event Planning</a></li>
      <li><a href="/">Contact Us</a></li>
    </ul>
  </nav>
{% endblock %}
