@charset "UTF-8";

.su-wysiwyg-text {

  & > .su-subheading:first-of-type {
    margin-top: 0;
  }

  p.su-subheading {
    @include modular-spacing('margin', 2 null null null);

    margin-bottom: 5px;
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;

    @include grid-media-min('md') {
      font-size: 17px;
    }

    & ~ * {
      padding-top: 0;
    }

  }
}


