@charset "UTF-8";

.su-card-wrapper--horizontal {
  &.su-horizontal-card-wrapper--small-circle {
    .su-card {
      & > .image {
        @include grid-media-min('sm') {
          max-width: $card-circle--width;
          @include modular-spacing('margin', 0 1 2 1);

          img {
            border-radius: 50%;
          }
        }
      }
      .su-card__contents {
        @apply pt-0;
        & > :first-child {
          margin-top: 0;
          @apply mt-0;
        }
        h2 {
          @include modular-spacing('margin-bottom', -1);
        }
      }
    }

  }

}
