@charset "UTF-8";

.su-card-wrapper--horizontal {
  .su-card {
    display: flex;
    & > .media {
      display: none;
      @include grid-media-min('sm') {
        display: block;
      }
    }
    .su-card__contents {
      // placeholder
    }
  }
}
