@charset "UTF-8";

@mixin horizontal-card--half-width {


  @include grid-media-min('lg') {
    max-width: 46%;
  }

  @include grid-media-min('xl') {
    max-width: 48%;
  }
}

.su-card-wrapper--horizontal {
  &.su-horizontal-card-wrapper--large-rectangle {
    .su-card {

      @include grid-media-max('md') {
        @apply flex-wrap;
      }

      @apply
        flex
        justify-between;



      & > .image {
        @include horizontal-card--half-width;
          @include grid-media-max('sm') {
            @apply block; // do not hide for mobile
          }

          @include grid-media-max('md') {
            width: 100%;
          }

          img {
            @include grid-media-max('sm') {
              @apply block; // do not hide for mobile
            }
          }
        }
      .su-card__contents {
        @include horizontal-card--half-width;

        @include grid-media-max('md') {
          @include modular-spacing('padding-top', 1);
        }

        h2 {
          @include modular-spacing('margin-bottom', -1);
        }

      }
    }

    &.su-horizontal-card-wrapper--image-right {
      .su-card {
        & > .image {
          order: 2;
        }

        .su-card__contents {
          @include grid-media-max('md') {
            @include modular-spacing('padding', 3 null 1);
          }
        }
      }
    }
  }
}
