@charset "UTF-8";

.paragraph-item {
  // if there is NO image and a card  - all red full width
  .saa-banner--no-image {
    .su-hero {
      @apply h-auto;
      min-height: unset;

      .su-hero__media {
        @apply hidden;
      }

      .su-card {
        &.su-hero__card {
          @include modular-spacing('padding', 3);
          @apply
          text-center
          border-none
          shadow-none
          flex
          justify-center
          items-center
          left-0
          top-0
          m-0
          max-w-full
          relative
          text-center;
          background: $su-color-vivid-red-dark;
          color: $su-color-white;

          .su-card__contents {
            h2 {
              @apply mt-0;
            }
          }
        }

        .su-card__contents {
          padding: 1px 0 0 0;

          @include grid-media-min('lg') {
            max-width: $banner-b--lg;
            @apply inline;
          }

          @include grid-media-min('xl') {
            max-width: $banner-b--xl;
          }

          // small text / superheading field
          span {
            @include saa-modular-typography-small;
            padding-top: 1px; // fixes letters getting cut off
          }

          span,
          h2 {
            margin-bottom: 26px;
          }

          p {
            @include modular-typography(1);
            margin-bottom: 18px;
          }

          // regular links and action links
          a:not(.su-button):not(.su-button--secondary):not(.su-button--big) {
            margin-top: 12px;
            color: $su-color-white;

            &:not(.su-link--action) {
              @apply underline;
            }

            // for action and other types of links
            &::after {
              background: $su-color-white;
            }

            & svg.mailto {
              fill: $su-color-white;
            }

            &:hover,
            &:focus {
              color: $saa-color-extra-light-cloud;
              @apply underline;

              & svg.mailto {
                fill: $saa-color-extra-light-cloud;
              }
            }
          }

          // Enforce only classic button style
          .su-button,
          .su-button--big,
          .su-button--secondary {
            @include saa-button--red;
          }

          .su-button--big {
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
