@charset "UTF-8";

// override decanter button styles here to use new colors and any other differences
// default button style for this theme
.su-button {
  @include saa-button--purple;
}

.su-button--big {
  @include saa-button--big;
}

a.su-button--secondary, // needed to override module styles
.su-button--secondary {
  @include saa-button--secondary;
}

.su-link {
  &.su-button {
    @include saa-button--purple;
  }
}

// set buttons to secondary style when on vivid red background
// this can be overridden but this is a default setting
.bg-vivid-red {
  .su-button {
    @include saa-button--secondary;
  }
}

// Adjust button's right padding when it includes an icon

.su-button,
.su-button--secondary,
.su-button--big {
  &.su-link--action,
  &.su-link--external,
  &.su-link--download,
  &.su-link--video,
  &.su-link--jump,
  &.su-link--top,  // not yet supported
  &.su-link--internal {
    padding-right: 22px;
  }
}

.su-button--big {
  &.su-link--action,
  &.su-link--external,
  &.su-link--download,
  &.su-link--video,
  &.su-link--jump,
  &.su-link--top,  // not yet supported
  &.su-link--internal {
    &::after {
      // larger icon due to larger text in su-button--big
      width: 14px;
      height: 14px;
    }
  }
}
