// Card styles will go here

.su-card.su-card--icon {
  // general styles here
  //@include modular-spacing('padding', 4 4 4 4);

  // icon settings
  img {
    margin: 0;
    @include modular-spacing('margin', null null 2 null);
    @include modular-spacing('padding', 4 null null 4);
    width: auto;
    height: auto;
    max-width: 25px;
    max-height: 25px;
  }


  // spacing differences



  // colored corner tag
  &:before {
    content: "";
    height: 70px;
    width: 20px;
    // @apply .w-5;  // what is the benefit of doing this a lot?
    // @apply .h-10;  // also using rems, the rems are different base at different screen sizes, so it would be 20px at small, but around 24px at a large size

    display: block;
    position: absolute;  // top left corner inside the card
    @apply bg-electric_purple;  // default color

    &.tag-color--electric-purple:before {
      @apply bg-electric_purple;
    }

    &.tag-color--wintergreen:before {
      @apply bg-wintergreen;
    }

    &.tag-color--dandelion:before {
      @apply bg-dandelion;
    }
  }
  .su-card__contents {
    margin: 0;
    padding: 0;
    @include modular-spacing('padding', null 4 4 4);
  }
  .su-button {
    @include modular-spacing('margin', 1 null null null);
  }
}
// add colored tags in order, for while we don't have interface customization yet:

// 3 card row
.container-3-items {
  .paragraph-item:nth-of-type(1) {
    .su-card.su-card--icon:before {
      @apply bg-electric_purple;
    }
  }

  .paragraph-item:nth-of-type(2) {
    .su-card.su-card--icon:before {
      @apply bg-wintergreen;
    }
  }

  .paragraph-item:nth-of-type(3) {
    .su-card.su-card--icon:before {
      @apply bg-dandelion;
    }
  }
}
// row 2
.container-3-items:nth-of-type(2) {
  .paragraph-item:nth-of-type(2) .su-card.su-card--icon:before {
      @apply bg-electric_purple;
  }

  .paragraph-item:nth-of-type(3) .su-card.su-card--icon:before {
      @apply bg-wintergreen;
  }

  .paragraph-item:nth-of-type(1) .su-card.su-card--icon:before {
      @apply bg-dandelion;
  }
}

.container-2-items {
  .paragraph-item:nth-of-type(1) .su-card.su-card--icon:before {
    @apply bg-dandelion;
  }
  .paragraph-item:nth-of-type(2) .su-card.su-card--icon:before {
      @apply bg-wintergreen;
  }
}
// row 2
.container-2-items:nth-of-type(2) {
  .paragraph-item:nth-of-type(1) .su-card.su-card--icon:before {
      @apply bg-electric_purple;
  }

  .paragraph-item:nth-of-type(2) .su-card.su-card--icon:before {
      @apply bg-dandelion;
  }
}
// row 3
.container-2-items:nth-of-type(3) {
  .paragraph-item:nth-of-type(1) .su-card.su-card--icon:before {
    @apply bg-wintergreen;
  }
  .paragraph-item:nth-of-type(2) .su-card.su-card--icon:before {
      @apply bg-electric_purple;
  }
}
