@charset "UTF-8";

.su-link,
a {
  // Note: cta-vivid-red mixin includes the call to action icon styles
  @include cta-vivid-red;
}

a svg.mailto {
  display: inline;
  position: relative;
  top: -4px; // center vertically with text
}

