@charset "UTF-8";

.su-link,
a {
  @include cta-vivid-red;
}

.su-wysiwyg-text {
  a:not(.su-button) {
    color: $su-color-vivid-red;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $su-color-cardinal-red;
      text-decoration: underline;
    }
  }
}


// link icons
.su-link--action,
.su-link--download,
.su-link--external,
.su-link--internal,
.su-link--jump,
.su-link--more,
.su-link--video {
  &::after {
    background-color: $su-color-vivid-red;

    &:hover,
    &:focus {
      background-color: $su-color-cardinal-red;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $su-color-cardinal-red;
    }
  }
}


// red background
.bg-bright-red {
  .su-link {
    @include cta-white-on-bright-red;
  }
}
