@charset "UTF-8";

.paragraph {

  // table immediately after an h2 or h3
  h2 ~ table,
  h3 ~ table {
    margin-top: 0;
  }

  table {
    @include modular-spacing('margin-top', 2);

    tr:nth-child(even) {
      background: $su-color-fog;
    }
  }

  // table label
  @include grid-media-max('sm') {
    .table--label-above {

      &::before {
        content: "Table best viewed in landscape mode.";
        font-style: italic;
        font-size: 16px;
      }
    }
  }
}
