@charset "UTF-8";

$icon-size: 48px;
$tag-width: 20px;
$tag-width--mobile: 15px;
$tag-height: 70px;

// Note: we never allow minimal border-none styles with icon card, see src/scss/components/card/_minimal-border.scss

.paragraph--type--stanford-card,
.ptype-stanford-card {
  .su-card-wrapper--icon {
    .su-card {
      // icon
      img {
        margin-right: 0;
        display: block;
        @include modular-spacing('margin', 4 null 1 4);
        @include grid-media-max('sm') {
          margin-top: $mobile-modular-spacing-3;
          margin-right: $mobile-modular-spacing-3;
          margin-left: $mobile-modular-spacing-3;
          margin-bottom: $mobile-modular-spacing-2;
        }

        width: auto;
        height: auto;
        max-width: $icon-size;
        max-height: $icon-size;
      }

      // colored corner tag
      &::before {
        content: "";
        height: $tag-height;
        width: $tag-width;
        @include grid-media-max('sm') {
          width: $tag-width--mobile;
        }

        @apply block
        absolute;
        // top left corner inside the card
        background: $su-color-card-tabs;
      }

      .su-card__contents {
        @include modular-spacing('padding', 4);
        @include grid-media-max('sm') {
          padding: $mobile-modular-spacing-3;
        }
        @apply text-left;
        margin: 0;

        & > :first-child {
          margin-top: 0;
        }

        p {
          line-height: 1.4em;
        }
      }

      div + .su-card__contents {
        padding-top: 0;
      }

      .su-card__contents {
        @include sans;

        & > h2 {
          @include serif;
        }
      }

      .su-button {
        @include modular-spacing('margin', 1 null null);
        @include grid-media-max('sm') {
          margin-top: $mobile-modular-spacing-1;
        }
      }

      span {
        &:empty {
          @apply hidden;
        }
      }
    }
  }
}
