@charset "UTF-8";

$icon-size: 48px;
$tag-width: 20px;
$tag-width--mobile: 15px;
$tag-height: 70px;

// Note: we never allow minimal border-none styles with icon card, see src/scss/components/card/_minimal-border.scss

.su-card-wrapper--icon {
  .su-card {
    // icon
    img {
      margin-right: 0;
      @include modular-spacing('margin', 4 null 2 3);
      @include grid-media-max('sm') {
        margin-top: $mobile-modular-spacing-3;
        margin-right: $mobile-modular-spacing-3;
        margin-left: $mobile-modular-spacing-3;
        margin-bottom: $mobile-modular-spacing-2;
      }
      width: auto;
      height: auto;
      max-width: $icon-size;
      max-height: $icon-size;
    }

    // colored corner tag
    &::before {
      content: "";
      height: $tag-height;
      width: $tag-width;
      @include grid-media-max('sm') {
        width: $tag-width--mobile;
      }

      @apply block
      absolute;
      // top left corner inside the card
      background: $saa-color-electric-purple;

      &.tag-color--electric-purple::before {
        background: $saa-color-electric-purple;
      }

      &.tag-color--wintergreen::before {
        background: $saa-color-wintergreen;
      }

      &.tag-color--dandelion::before {
        background: $saa-color-dandelion;
      }
    }

    .su-card__contents {
      @include modular-spacing('padding', 4);
      @include grid-media-max('sm') {
        padding: $mobile-modular-spacing-3;
      }
      @apply text-left;
      margin: 0;

      & > :first-child {
        margin-top: 0;
      }

      p {
        line-height: 1.4em;
      }
    }

    div + .su-card__contents {
      padding-top: 0;
    }

    .su-card__contents {
      @include saa-font--proxima-nova-base;

      & > h2 {
        @include saa-font--calluna-base;
      }
    }

    .su-button {
      @include modular-spacing('margin', 1 null null);
      @include grid-media-max('sm') {
        margin-top: $mobile-modular-spacing-1;
      }
    }

    span {
      &:empty {
        @apply hidden;
      }
    }
  }
}

// add colored tags in order, while we don't have interface customization yet:
.su-page-components {
  & > div:nth-of-type(3n-2) { // rows A

    // 1 items, row 1
    .container-1-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }
    }

    // 2 items, row 1
    .container-2-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }
    }

    // 3 card row, 1 in 3
    .container-3-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(3) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }
    }

  }

  & > div:nth-of-type(3n-1) { // rows B
    .container-1-items {

      // 1 item, row 2
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }
    }

    // 2 items, row 2
    .container-2-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }
    }

    // 3 cards, row 2
    .container-3-items {
      .paragraph-item:nth-of-type(1)  {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(3) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }
    }

  } // End of Rows B

  & > div:nth-of-type(3n) { // rows C
    .container-1-items {

      // 1 item, row 3
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }
    }

    // 2 items, row 3
    .container-2-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }
    }

    // 3 cards, row 3
    .container-3-items {
      .paragraph-item:nth-of-type(1) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-electric-purple;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(2) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-dandelion;
            }
          }
        }
      }

      .paragraph-item:nth-of-type(3) {
        .su-card-wrapper--icon {
          .su-card {
            &::before {
              background: $saa-color-wintergreen;
            }
          }
        }
      }
    }

  } // End of Rows C
}





